.settings {
  display: none;
  opacity: 0;
  transition: 300ms;
  z-index: 19; }
  .settings .setting {
    position: relative;
    width: 80vw;
    height: 80vh;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 19;
    overflow-x: hidden;
    overflow-y: scroll; }
    .settings .setting::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #222;
      border-radius: 10px;
      background-color: #222; }
    .settings .setting::-webkit-scrollbar {
      width: 12px;
      background-color: #222; }
    .settings .setting::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px #222;
      background-color: #333; }
    .settings .setting .tools {
      user-select: none;
      height: 80px; }
      .settings .setting .tools div:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .settings .setting .tools div:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
      .settings .setting .tools div {
        border: 1px #333 solid;
        color: #aaa;
        padding: 15px;
        display: inline-block;
        margin: 15px 0 15px 0;
        font-family: Lato;
        cursor: pointer;
        transition: 200ms;
        box-shadow: 0 0 10px #333 inset; }
        .settings .setting .tools div:hover {
          background-color: #333; }
      .settings .setting .tools .quit {
        box-shadow: 0 0 10px #930 inset; }
        .settings .setting .tools .quit:hover {
          background-color: #933; }
    .settings .setting #skins {
      width: calc(100% - 30px);
      display: block;
      color: white;
      height: auto;
      position: absolute;
      top: 80px;
      background-color: #2a2a2a;
      border-radius: 20px;
      margin: 10px;
      user-select: none;
      cursor: default;
      padding: 10px;
      transition: 300ms transform;
      transform: translate(125%, 0); }
      .settings .setting #skins h1 {
        font-family: Lato;
        color: #aaa;
        padding-top: 20px;
        margin-top: 0; }
      .settings .setting #skins .theme {
        display: inline-block;
        margin-left: 2vw;
        margin-right: 2vw; }
        .settings .setting #skins .theme p {
          font-family: Lato; }
        .settings .setting #skins .theme img {
          border-radius: 50px;
          width: 300px;
          height: 300px;
          box-shadow: 0 0 10px black;
          cursor: pointer;
          transition: 300ms; }
          .settings .setting #skins .theme img:hover {
            transform: scale(0.9); }
    .settings .setting #options {
      position: absolute;
      top: 80px;
      width: calc(100% - 10px);
      display: block;
      height: auto;
      background-color: #2a2a2a;
      border-radius: 20px;
      margin: 10px;
      user-select: none;
      cursor: default;
      transition: 300ms transform;
      margin-right: 10px; }
      .settings .setting #options h1 {
        font-family: Lato;
        color: #aaa;
        padding-top: 20px;
        margin-top: 0; }
      .settings .setting #options div {
        margin: 5px;
        padding: 10px;
        border-bottom: 2px solid #333;
        display: flex; }
        .settings .setting #options div:last-child {
          border-bottom: 0 solid transparent; }
        .settings .setting #options div span {
          flex: 1;
          color: #aaa;
          font-family: Lato;
          display: inline-block; }
        .settings .setting #options div input[type="checkbox"] {
          visibility: hidden; }
        .settings .setting #options div .checkbox-bg {
          flex: 1;
          margin: 0;
          padding: 0;
          border-bottom: none; }
        .settings .setting #options div .checkbox {
          margin: 0 !important;
          display: inline-block;
          width: 64px;
          height: 16px;
          background: #222;
          padding: 0px;
          margin: 20px 80px;
          position: relative;
          border-radius: 16px; }
        .settings .setting #options div .checkbox label {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          transition: all .5s ease;
          cursor: pointer;
          position: absolute;
          left: 50px;
          background: #444;
          box-shadow: 0 0 10px #222; }
          .settings .setting #options div .checkbox label:hover {
            background: #963;
            box-shadow: 0 0 10px #963; }
        .settings .setting #options div .checkbox input[type=checkbox]:checked + label {
          left: -3px;
          background: #fdca97;
          box-shadow: 0 0 20px #fdca97; }
        .settings .setting #options div select {
          flex: 1;
          background-color: #222;
          color: #aaa;
          border: none;
          outline: none;
          transition: 200ms;
          cursor: pointer; }
          .settings .setting #options div select:hover {
            background-color: #111; }
        .settings .setting #options div input[type="range"] {
          cursor: pointer;
          background-color: transparent;
          flex: 1;
          -webkit-appearance: none;
          display: inline-block; }
          .settings .setting #options div input[type="range"]::-webkit-slider-runnable-track {
            transition: 200ms;
            background-color: #222;
            height: 5px;
            border: none; }
          .settings .setting #options div input[type="range"]::-webkit-slider-thumb {
            transition: 200ms;
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border: none;
            border-radius: 50%;
            background: #444;
            margin-top: -4px; }
          .settings .setting #options div input[type="range"]:focus {
            outline: none; }
          .settings .setting #options div input[type="range"]:hover::-webkit-slider-runnable-track {
            background-color: #111;
            box-shadow: 0 0 0 black; }
          .settings .setting #options div input[type="range"]:hover::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: #963;
            box-shadow: 0 0 10px #963; }
            .settings .setting #options div input[type="range"]:hover::-webkit-slider-thumb:active {
              background: #fdca97;
              box-shadow: 0 0 20px #fdca97; }
  .settings #bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 18;
    background-color: rgba(0, 0, 0, 0.8); }
