@import "variables.sass"


.menu
  display: none
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,0.5)
  transition: 300ms
  z-index: 10
  a
    display: inline-block
    color: #aaa
    background-color: #222
    border: 1px solid #333
    padding: 2vw
    text-align: center
    margin: 10px
    border-radius: 10px
    font-family: Lato
    text-decoration: none
    transition: 300ms
    user-select: none
    position: relative
    top: 50%
    transform: translate(0,-50%)
    cursor: pointer
    &:hover
      background-color: #333
  button
    display: inline-block
    color: #aaa
    background-color: #222
    border: 1px solid #333
    padding: 2vw
    text-align: center
    margin: 10px
    border-radius: 10px
    font-family: Lato
    text-decoration: none
    transition: 300ms
    user-select: none
    position: relative
    top: 50%
    transform: translate(0,-50%)
    cursor: pointer
    &:hover
      background-color: #333


.sidebar
  display: inline-block
  position: absolute
  top: 100vh
  left: 0vw
  padding: 20px
  z-index: 5
  transform: translate(0,-100%)
  user-select: none
  .chapter
    display: inline-block
    font-family: Lato
    color: #777
    padding-right: 10px
    transition: 200ms

    &:hover
      background-color: #1a1a1a
      padding: 5px
      color: white
      &::before
        content: "Rozdział: "

  .pages
    display: inline-block
    font-family: Lato
    color: #aaa
    padding-right: 10px
    transition: 200ms

    &:hover
      background-color: #1a1a1a
      padding: 5px
      color: white
      &::before
        content: "Strona: "
  .words
    display: inline-block
    font-family: Lato
    color: #aaa
    transition: 200ms
    &:hover
      background-color: #1a1a1a
      padding: 5px
      color: white
      &::before
        content: "Słowa: "
  .letters
    display: inline-block
    font-family: Lato
    color: #aaa
    transition: 200ms
    &:hover
      background-color: #1a1a1a
      padding: 5px
      color: white
      &::before
        content: "Litery: "


.menubar
  height: 30px
  z-index: 20
  background-color: #2a2a2a
  display: flex
  user-select: none
  & .bar
    display: inline-block
    flex: 1
    height: 30px
    background-color: #2a2a2a
    color: #aaa
    font-family: Lato
    vertical-align: middle
    line-height: 30px
    -webkit-app-region: drag
    & span
      color: #777
      font-style: italic
  & .minimize
    display: inline-block
    float: right
    height: 30px
    width: 50px
    transition: 200ms
    cursor: pointer
    background-image: url("../arts/minimize.png")
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    filter: brightness(1)
    background-color: #2a2a2a
    &:hover
      background-color: #444
      filter: brightness(1.1)

  & .maximize
    display: inline-block
    float: right
    height: 30px
    width: 50px
    color: #aaa
    transition: 200ms
    cursor: pointer
    background-image: url("../arts/maximize.png")
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    filter: brightness(1)
    background-color: #2a2a2a
    &:hover
      background-color: #444
      filter: brightness(1.1)

  & .exit
    display: inline-block
    float: right
    height: 30px
    width: 50px
    color: #aaa
    transition: 200ms
    cursor: pointer
    background-image: url("../arts/exit.png")
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    filter: brightness(1)
    background-color: #2a2a2a
    &:hover
      background-color: red
      filter: brightness(1.1)

.tippy-popper // Tippy Customisation
  font-family: Lato

canvas#move
  position: absolute
  z-index: 15
  top: 0
  left: 0
  overflow-x: hidden
  overflow-y: scroll
  display: inline-block
  transition: 0ms

#shortcut
  position: absolute
  top: 100%
  left: 100%
  width: 300px
  height: 100px
  text-align: center
  display: none
  transform: translate(-100%,-100%)
  color: rgba(255,255,255,0.3)
  font-family: Lato
  font-size: 25px
  z-index: 15
  transition: 200ms
  opacity: 0

.doc
  position: relative
  display: inline-block
  z-index: 17
  color: #aaa
  background-color: #333
  box-shadow: 0 0 25px black
  width: 42mm
  height: 60mm
  margin: 25px 10px 25px 10px
  padding: 14px
  vertical-align: middle
  font-family: Lato
  font-size: 20px
  user-select: none
  cursor: pointer
  transition: 300ms
  word-wrap: break-word
  border-radius: 0px
  box-shadow: none
  &:hover
    background-color: #444
  & emp
    color: #777
    font-style: italic

.doc-move
  position: absolute
  display: block
  z-index: 17
  color: #aaa
  background-color: #333
  box-shadow: 0 0 25px black
  width: 42mm
  height: 60mm
  margin: 25px auto 25px auto
  padding: 14px
  vertical-align: middle
  font-family: Lato
  font-size: 20px
  user-select: none
  cursor: -webkit-grab
  box-shadow: 0 0 50px black
  word-wrap: break-word
  border-radius: 0px
  box-shadow: none
  opacity: 0.7
  &:hover
    background-color: #444
  &:active
    cursor: -webkit-grabbing
  & emp
    color: #777
    font-style: italic

#project
  display: none
  vertical-align: middle
  #title,#author
    display: inline-block
    background-color: #222
    color: #aaa
    padding: 5px
    margin: 5px
    border: 0px solid $border
    transition: 300ms
    border-radius: 30px
    &::selection
      background-color: rgba(255,150,0,0.5)
      color: #fff
    &:hover
      background-color: #111
  #all-keys
    background-color: #252525
    border-radius: 30px
    display: inline-block
    padding: 2px
    p
      display: inline-block
      font-family: Lato
      font-size: 12px
      color: #aaa
      user-select: none
      cursor: default
      padding-right: 5px
    #keys
      display: inline-block
      background-color: #222
      color: #aaa
      padding: 5px
      margin: 5px
      border: 0px solid $border
      transition: 300ms
      border-radius: 30px
      &::selection
        background-color: rgba(255,150,0,0.5)
        color: #fff
      &:hover
        background-color: #111


#pages
  display: none
  vertical-align: middle
  #merge-all
    display: inline-block
    width: 39px
    height: 39px
    margin: 5px
    border: 1px solid $border
    transition: 300ms
    background-image: url("../arts/merge.png")
    background-position: center
    background-size: cover
    cursor: pointer
    &:hover
      background-color: #555


.full-view
  display: none
  position: absolute
  top: 30px
  left: 0
  background-color: rgba(20,20,20,0.8)
  width: 100vw
  height: 100vh
  z-index: 15
  transition: 300ms
  opacity: 0
  overflow-y: scroll
  &::-webkit-scrollbar-track
  	-webkit-box-shadow: inset 0 0 6px #222
  	border-radius: 10px
  	background-color: #222
  &::-webkit-scrollbar
    width: 12px
    background-color: #222
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px #222
    background-color: #333
  .fv-tools
    display: block
    width: 100%
    height: 50px
    background-color: #222
    box-shadow: 0 0 50px black
    user-select: none
    & p
      display: inline-block
      color: #aaa
      margin: 0
      padding: 0 10px 0 0
      font-family: Lato
      border-right: 2px dashed #333
      vertical-align: middle

    & span
      display: inline-block
      height: 50px
      width: 50px
      margin: 0
      padding: 0
      transition: 300ms
      cursor: pointer
      vertical-align: middle
      &#trash
        background-image: url('../arts/bin.png')
        background-size: cover
        background-position: center
        &:hover
          background-color: #933
      &#move-btn
        background-image: url('../arts/chain.png')
        background-size: cover
        background-position: center
        &:hover
          background-color: #333

disabled[disabled="true"]
  filter: brightness(0.3)
disabled[disabled="false"]
  filter: brightness(1)
#move-bg
  display: none
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.7)
  position: absolute
  top: 0
  left: 0
  z-index: 18
  opacity: 0
  overflow-y: scroll
  overflow-x: hidden
  cursor: default
  transition: 300ms
  &::-webkit-scrollbar-track
  	-webkit-box-shadow: inset 0 0 6px #222
  	border-radius: 10px
  	background-color: #222
  &::-webkit-scrollbar
    width: 12px
    background-color: #222
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px #222
    background-color: #333
  & #move-docs
    height: 100% //It should be scroll height here
    position: absolute
    z-index: 16
  & #move-tools
    width: 100vw
    position: fixed
    z-index: 19
    // height: 40px
    background-color: #222
    box-shadow: 0 0 20px #111
    & p
      vertical-align: middle
      font-size: 20px
    & #ok
      vertical-align: middle
      display: inline-block
      width: 40px
      height: 40px
      background-image: url("../arts/ok.png")
      background-position: center
      background-size: cover
      transition: 300ms
      cursor: pointer
      &:hover
        background-color: #363
    & #cancel
      vertical-align: middle
      display: inline-block
      width: 40px
      height: 40px
      background-image: url("../arts/cancel.png")
      background-position: center
      background-size: cover
      transition: 300ms
      cursor: pointer
      &:hover
        background-color: #933
  #docs
    display: inline-block
    position: absolute
    top: 70px
    left: 0
    width: 100vw
    height: 100vw
    z-index: 16

.toolbar
  position: fixed
  width: 100vw
  top: 30px
  background-color: #2a2a2a
  color: white
  padding-top: 20px
  padding-bottom: 20px
  box-shadow: 0 10px 20px #222
  z-index: 9
  user-select: none
  perspective: 500px

  #view
    display: none
    vertical-align: middle
    #full-view
      display: inline-block
      width: 39px
      height: 39px
      margin: 5px
      border: 1px solid $border
      transition: 300ms
      background-image: url("../arts/fullView.png")
      background-position: center
      background-size: cover
      cursor: pointer
      &:hover
        background-color: #555



  #tools
    display: inline-block
    vertical-align: middle

  .justify
    margin-left: 10px
    border-left: 2px dashed #444
    display: inline-block
    vertical-align: middle

    #justify-left
      display: inline-block
      width: 28px
      height: 28px
      margin: 5px 5px 5px 10px
      border: 1px solid $border
      transition: 300ms
      background-image: url("../arts/alignLeft.png")
      background-position: center
      background-size: cover
      cursor: pointer
      &:hover
        background-color: #555

    #justify-center
      display: inline-block
      width: 28px
      height: 28px
      margin: 5px
      border: 1px solid $border
      transition: 300ms
      background-image: url("../arts/alignCenter.png")
      background-position: center
      background-size: cover
      cursor: pointer
      &:hover
        background-color: #555

    #justify-right
      display: inline-block
      width: 28px
      height: 28px
      margin: 5px
      border: 1px solid $border
      transition: 300ms
      background-image: url("../arts/alignRight.png")
      background-position: center
      background-size: cover
      cursor: pointer
      &:hover
        background-color: #555

    #justify-full
      display: inline-block
      width: 28px
      height: 28px
      margin: 5px
      border: 1px solid $border
      transition: 300ms
      background-image: url("../arts/alignJustify.png")
      background-position: center
      background-size: cover
      cursor: pointer
      &:hover
        background-color: #555

  p#ctx-menu
    display: inline-block
    font-family: Lato
    padding-right: 10px
    color: #aaa
    cursor: pointer
    transition: 300ms
    transform-origin: left
    padding: 5px
    border: 1px solid transparent
    &:hover
      background-color: $border
      border: 1px solid $border

  div#logo
    display: inline-block
    background-image: url("../arts/logo.png")
    background-position: center
    background-size: contain
    width: 50px
    height: 50px
    vertical-align: middle
    border-right: 2px dashed #444
    margin-right: 5px
    div
      width: 100%
      height: 100%
      background-image: url("../arts/logoHard.png")
      background-position: center
      background-size: cover
      opacity: 0
      transition: 300ms
      cursor: pointer
      &:hover
        opacity: 1



  span
    margin: 10px
    padding: 10px
    border: 1px solid $border
    cursor: pointer
    transition: 300ms
    vertical-align: middle

    &:hover
      background-color: #555

  select
    padding: 10px
    background-color: #2a2a2a
    color: white
    border: 1px solid $border
    transition: 300ms
    cursor: pointer
    &:hover
      background-color: #555

  option

    &[a]
      font-family: Arial, sans-serif
    &[b]
      font-family: "Arial Black", sans-serif
    &[c]
      font-family: Courier, sans-serif
    &[d]
      font-family: "Comic Sans MS",sans-serif
    &[e]
      font-family: Impact, sans-serif
    &[f]
      font-family: "Lucida Sans Unicode", Lucida, sans-serif
    &[g]
      font-family: Tahoma, sans-serif
    &[h]
      font-family: "Times New Roman", sans-serif
    &[i]
      font-family: Georgia, sans-serif
    &[j]
      font-family: Helvetica, sans-serif
    &[k]
      font-family: Verdana, sans-serif
    &[l]
      font-family: Lato, sans-serif

@font-face
  font-family: Lato
  src: url("../arts/lato.ttf")
