body
  background-color: #333
  margin: 0
  overflow-x: hidden
  user-select: none


d
  color: #111
d1
  display: block
  font-size: 30px
  margin: 30px
d2
  display: block
  font-size: 24px
  margin: 20px
d3
  display: block
  font-size: 18px
  margin: 10px

side
  display: flex
  div
    flex: 1
  &#contact
    align-items: center
    margin-top: 50px
    position: relative
    left: 50%
    transform: translate(-50%,0)
    width: 50vw
    d3
      margin-left: 30px
  img#contact
    border-radius: 50%
    width: 100px
.light
  padding-top: 50px
  padding-bottom: 50px
  background-color: #444
.dark
  padding-top: 50px
  padding-bottom: 50px
  background-color: #222

.mini
  margin-top: 10px
  margin-bottom: 10px
  width: 30vw
  border-radius: 25px

.top
  margin-top: 50px
.bottom
  margin-bottom: 50px

#cont
  #bg
    display: inline-block
    width: 100vw
    height: 100vh
    position: fixed
    top: 0px
    left: 0px
    z-index: 0
    background-size: cover
    background-position: center center
    background-image: url('../images/odyssey.png')
  #content
    font-weight: 100
    position: relative
    top: 100vh
    z-index: 2
    width: 100vw
    height: 100%
    background-color: #333
    color: #ddd
    font-family: Lato, Verdana, sans-serif
    text-align: center
    d1#title
      display: inline-block
      margin: 30px 30px 0 30px
      padding: 10px
      border-bottom: 4px #222 dashed
    d2#download
      font-size: 40px
    button#download
      color: white
      border: none
      background-color: #222
      font-size: 25px
      font-family: Lato, Verdana, sans-serif
      font-weight: 100
      padding: 20px
      border-radius: 10px
      transition: 300ms
      cursor: pointer
      box-shadow: 0 5px 20px #111
      outline: none
      vertical-align: middle
      img
        vertical-align: middle
        margin-left: 10px
        height: 25px
      &:hover
        box-shadow: 10px 0 #2a2a2a, -10px 0 #2a2a2a, 0 5px 20px #111, 10px 5px 20px #111, -10px 5px 20px #111


header
  background-color: #2a2a2a
  text-align: center
  position: fixed
  width: 100%
  top: 0px
  left: 0px
  z-index: 10
  box-shadow: 0 0 25px black
  font-weight: 100
  img
    display: inline-block
    width: 75px
    height: 75px
    vertical-align: middle
  p
    display: inline-block
    vertical-align: middle
    font-family: Lato, Verdana, sans-serif
    font-weight: 100
    font-size: 50px
    color: #aaa
    margin: 15px 0 15px 0
    user-select: none


@font-face
  font-family: Lato
  src: url('lato.ttf')

@font-face
  font-family: Riffic
  src: url('riffic.ttf')
