@charset "UTF-8";
.menu {
  display: none;
  user-select: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
  z-index: 10;
}

.menu a {
  display: inline-block;
  vertical-align: middle;
  color: #aaa;
  background-color: #222;
  border: 1px solid #333;
  padding: 2vw;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  font-family: Lato;
  text-decoration: none;
  transition: 300ms;
  user-select: none;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  filter: brightness(0.8);
}

.menu a:hover {
  background-color: #333;
}

.menu a#reload {
  transition: 300ms;
  background-image: url("../arts/reload.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu button {
  display: inline-block;
  vertical-align: middle;
  color: #aaa;
  background-color: #222;
  border: 1px solid #333;
  padding: 2vw;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  font-family: Lato;
  text-decoration: none;
  transition: 300ms;
  user-select: none;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  filter: brightness(0.8);
}

.menu button:hover {
  background-color: #333;
}

.menu button#settings {
  transition: 300ms;
  background-image: url("../arts/settings.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu button#open-file {
  transition: 300ms;
  background-image: url("../arts/open.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu button#save-file {
  transition: 300ms;
  background-image: url("../arts/saveAs.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu button#quick-save {
  transition: 300ms;
  background-image: url("../arts/save.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar {
  display: inline-block;
  position: absolute;
  top: 100vh;
  left: 0vw;
  padding: 20px;
  z-index: 5;
  transform: translate(0, -100%);
  user-select: none;
  cursor: default;
}

.sidebar .chapter {
  display: inline-block;
  font-family: Lato;
  font-style: italic;
  color: #777;
  padding-right: 10px;
  transition: 200ms;
}

.sidebar .chapter:hover {
  background-color: #1a1a1a;
  padding: 5px;
  color: white;
}

.sidebar .chapter:hover::before {
  content: "Rozdział: ";
  font-style: normal;
}

.sidebar .pages {
  display: inline-block;
  font-family: Lato;
  color: #aaa;
  padding-right: 10px;
  transition: 200ms;
}

.sidebar .pages:hover {
  background-color: #1a1a1a;
  padding: 5px;
  color: white;
}

.sidebar .pages:hover::before {
  content: "Strona: ";
}

.sidebar .words {
  display: inline-block;
  font-family: Lato;
  color: #aaa;
  transition: 200ms;
}

.sidebar .words:hover {
  background-color: #1a1a1a;
  padding: 5px;
  color: white;
}

.sidebar .words:hover::before {
  content: "Słowa: ";
}

.sidebar .letters {
  display: inline-block;
  font-family: Lato;
  color: #aaa;
  transition: 200ms;
}

.sidebar .letters:hover {
  background-color: #1a1a1a;
  padding: 5px;
  color: white;
}

.sidebar .letters:hover::before {
  content: "Symbole: ";
}

.menubar {
  height: 30px;
  z-index: 20;
  background-color: #2a2a2a;
  display: flex;
  user-select: none;
}

.menubar .bar {
  display: inline-block;
  flex: 1;
  height: 30px;
  background-color: #2a2a2a;
  color: #aaa;
  font-family: Lato;
  vertical-align: middle;
  line-height: 30px;
  -webkit-app-region: drag;
}

.menubar .bar span {
  color: #777;
  font-style: italic;
}

.menubar .minimize {
  display: inline-block;
  float: right;
  height: 30px;
  width: 50px;
  transition: 200ms;
  cursor: default;
  background-image: url("../arts/minimize.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(1);
  background-color: #2a2a2a;
}

.menubar .minimize:hover {
  background-color: #444;
  filter: brightness(1.1);
}

.menubar .maximize {
  display: inline-block;
  float: right;
  height: 30px;
  width: 50px;
  color: #aaa;
  transition: 200ms;
  cursor: default;
  background-image: url("../arts/maximize.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(1);
  background-color: #2a2a2a;
}

.menubar .maximize:hover {
  background-color: #444;
  filter: brightness(1.1);
}

.menubar .exit {
  display: inline-block;
  float: right;
  height: 30px;
  width: 50px;
  color: #aaa;
  transition: 200ms;
  cursor: default;
  background-image: url("../arts/exit.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(1);
  background-color: #2a2a2a;
}

.menubar .exit:hover {
  background-color: red;
  filter: brightness(1.1);
}

.tippy-popper {
  font-family: Lato;
}

canvas#move {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
  transition: 0ms;
}

#shortcut {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 300px;
  height: 100px;
  text-align: center;
  display: none;
  transform: translate(-100%, -100%);
  color: rgba(255, 255, 255, 0.3);
  font-family: Lato;
  font-size: 25px;
  z-index: 15;
  transition: 200ms;
  opacity: 0;
}

.doc {
  position: relative;
  display: inline-block;
  z-index: 17;
  color: #aaa;
  background-color: #333;
  box-shadow: 0 0 25px black;
  width: 42mm;
  height: 60mm;
  margin: 25px 10px 25px 10px;
  padding: 14px;
  vertical-align: middle;
  font-family: Lato;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  transition: 300ms;
  word-wrap: break-word;
  border-radius: 0px;
  box-shadow: none;
}

.doc:hover {
  background-color: #444;
}

.doc emp {
  color: #777;
  font-style: italic;
}

.doc-chapter {
  position: relative;
  display: inline-block;
  z-index: 17;
  color: #aaa;
  background-color: #333;
  box-shadow: -5px -5px 0px #2a2a2a, -10px -10px 0px #222;
  width: 42mm;
  height: 60mm;
  margin: 25px 10px 25px 10px;
  padding: 14px;
  vertical-align: middle;
  font-family: Lato;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  transition: 300ms;
  word-wrap: break-word;
  border-radius: 0px;
  margin: 2vw 10vw 2vw 10vw;
  background-image: url("../arts/chapterDoc.png");
  background-size: 21mm 21mm;
  background-position: left top;
  background-repeat: no-repeat;
}

.doc-chapter:hover {
  background-color: #444;
  box-shadow: -10px -10px 0px #3a3a3a, 10px 10px 0px #333;
}

.doc-chapter emp {
  color: #777;
  font-style: italic;
}

.doc-chapter p {
  display: inline-block;
  word-wrap: break-word;
  position: relative;
  max-width: 42mm;
  top: 50%;
  transform: translate(0, -50%);
  border-right: none !important;
}

.doc-chapter-add {
  position: relative;
  display: inline-block;
  z-index: 17;
  border: 5px dashed #960;
  box-shadow: 0 0 25px 0 orange;
  width: 42mm;
  height: 60mm;
  margin: 25px 10px 25px 10px;
  padding: 14px;
  vertical-align: middle;
  font-family: Lato;
  font-size: 20px;
  user-select: none;
  opacity: 0.5;
  cursor: pointer;
  transition: 300ms;
  word-wrap: break-word;
  border-radius: 0px;
  margin: 2vw 10vw 2vw 10vw;
}

.doc-chapter-add:hover {
  box-shadow: 0 0 50px 0 orange;
  opacity: 1;
}

.doc-chapter-add emp {
  color: #777;
  font-style: italic;
}

.doc-chapter-add p {
  color: orange !important;
  font-size: 70px;
  transition: 300ms;
  padding: 0 !important;
  display: inline-block;
  word-wrap: break-word;
  position: relative;
  max-width: 42mm;
  top: 50%;
  transform: translate(0, -50%);
  border-right: none !important;
  text-shadow: -1px 0 2px #960, 1px 0 2px #960, 0 1px 2px #960, 0 -1px 2px #960;
}

.doc-move {
  position: absolute;
  display: block;
  z-index: 17;
  color: #aaa;
  background-color: #333;
  box-shadow: 0 0 25px black;
  width: 42mm;
  height: 60mm;
  margin: 25px auto 25px auto;
  padding: 14px;
  vertical-align: middle;
  font-family: Lato;
  font-size: 20px;
  user-select: none;
  cursor: -webkit-grab;
  box-shadow: 0 0 50px black;
  word-wrap: break-word;
  border-radius: 0px;
  box-shadow: none;
  opacity: 0.7;
}

.doc-move:hover {
  background-color: #444;
}

.doc-move:active {
  cursor: -webkit-grabbing;
}

.doc-move emp {
  color: #777;
  font-style: italic;
}

#project {
  display: none;
  vertical-align: middle;
}

#project #title, #project #author {
  display: inline-block;
  background-color: #222;
  color: #aaa;
  padding: 5px;
  margin: 5px;
  border: 0px solid #444;
  transition: 300ms;
  border-radius: 30px;
  caret-color: #aaa;
}

#project #title::selection, #project #author::selection {
  background-color: rgba(255, 150, 0, 0.5);
  color: #fff;
}

#project #title:hover, #project #author:hover {
  background-color: #111;
}

#project #all-keys {
  background-color: #252525;
  border-radius: 30px;
  display: inline-block;
  padding: 2px;
}

#project #all-keys p {
  display: inline-block;
  font-family: Lato;
  font-size: 12px;
  color: #aaa;
  user-select: none;
  cursor: default;
  padding-right: 5px;
}

#project #all-keys #keys {
  display: inline-block;
  background-color: #222;
  color: #aaa;
  padding: 5px;
  margin: 5px;
  border: 0px solid #444;
  transition: 300ms;
  border-radius: 30px;
  caret-color: #aaa;
}

#project #all-keys #keys::selection {
  background-color: rgba(255, 150, 0, 0.5);
  color: #fff;
}

#project #all-keys #keys:hover {
  background-color: #111;
}

#pages {
  display: none;
  vertical-align: middle;
}

#pages div {
  display: inline-block;
  width: 39px;
  height: 39px;
  margin: 5px;
  border: 1px solid #444;
  transition: 300ms;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  vertical-align: middle;
}

#pages div:hover {
  background-color: #555;
}

#pages div#merge-all {
  background-image: url("../arts/merge.png");
}

#pages div#print {
  background-image: url("../arts/printer.png");
}

#pages div#print-view {
  background-image: url("../arts/printView.png");
}

#pages div#print-view .toggle {
  position: relative;
  left: 50%;
  display: inline-block;
  height: 41px;
  width: 0;
  transition: 300ms;
  border: none;
  transform: translate(50%, -6px);
  background: radial-gradient(#333, #222);
  box-shadow: 0 0 0px #ffb400;
}

#pages div#print-view .toggle-on {
  position: relative;
  left: 50%;
  display: inline-block;
  height: 41px;
  width: 10px;
  transition: 300ms;
  border: none;
  transform: translate(50%, -6px);
  background: radial-gradient(#ffb400, #c88200);
  box-shadow: 0 0 10px #ffb400;
}

.full-view {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: rgba(20, 20, 20, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 15;
  transition: 300ms;
  opacity: 0;
  overflow-y: scroll;
}

.full-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #222;
  border-radius: 10px;
  background-color: #222;
}

.full-view::-webkit-scrollbar {
  width: 12px;
  background-color: #222;
}

.full-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #222;
  background-color: #333;
}

.full-view .fv-tools {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #222;
  box-shadow: 0 0 50px black;
  user-select: none;
}

.full-view .fv-tools p {
  display: inline-block;
  color: #aaa;
  margin: 0;
  padding: 0 10px 0 0;
  font-family: Lato;
  border-right: 2px dashed #333;
  vertical-align: middle;
}

.full-view .fv-tools span {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  transition: 300ms;
  cursor: pointer;
  vertical-align: middle;
}

.full-view .fv-tools span#trash {
  background-image: url("../arts/bin.png");
  background-size: cover;
  background-position: center;
}

.full-view .fv-tools span#trash:hover {
  background-color: #933;
}

.full-view .fv-tools span#move-btn {
  background-image: url("../arts/chain.png");
  background-size: cover;
  background-position: center;
}

.full-view .fv-tools span#move-btn:hover {
  background-color: #333;
}

.full-view .fv-tools span#merge-sel {
  background-image: url("../arts/mergeSel.png");
  background-size: cover;
  background-position: center;
}

.full-view .fv-tools span#merge-sel:hover {
  background-color: #333;
}

.full-view .fv-tools span#chapter-view {
  background-image: url("../arts/chapter.png");
  background-size: cover;
  background-position: center;
  border-left: 2px #444 dashed;
}

.full-view .fv-tools span#chapter-view:hover {
  background-color: #333;
}

disabled[disabled="true"] {
  filter: brightness(0.3);
}

disabled[disabled="false"] {
  filter: brightness(1);
}

#move-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 18;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: default;
  transition: 300ms;
}

#move-bg::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #222;
  border-radius: 10px;
  background-color: #222;
}

#move-bg::-webkit-scrollbar {
  width: 12px;
  background-color: #222;
}

#move-bg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #222;
  background-color: #333;
}

#move-bg #move-docs {
  height: 100%;
  position: absolute;
  z-index: 16;
}

#move-bg #move-tools {
  width: 100vw;
  position: fixed;
  z-index: 19;
  background-color: #222;
  box-shadow: 0 0 20px #111;
}

#move-bg #move-tools p {
  vertical-align: middle;
  font-size: 20px;
}

#move-bg #move-tools #ok {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../arts/ok.png");
  background-position: center;
  background-size: cover;
  transition: 300ms;
  cursor: pointer;
}

#move-bg #move-tools #ok:hover {
  background-color: #363;
}

#move-bg #move-tools #cancel {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../arts/cancel.png");
  background-position: center;
  background-size: cover;
  transition: 300ms;
  cursor: pointer;
}

#move-bg #move-tools #cancel:hover {
  background-color: #933;
}

#move-bg #docs {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 16;
}

#chapter-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 18;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: default;
  transition: 300ms;
}

#chapter-bg::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #222;
  border-radius: 10px;
  background-color: #222;
}

#chapter-bg::-webkit-scrollbar {
  width: 12px;
  background-color: #222;
}

#chapter-bg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #222;
  background-color: #333;
}

#chapter-bg #chapter-docs {
  height: 100%;
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  z-index: 16;
}

#chapter-bg #chapter-tools {
  width: 100vw;
  position: fixed;
  z-index: 19;
  background-color: #222;
  box-shadow: 0 0 20px #111;
}

#chapter-bg #chapter-tools p {
  vertical-align: middle;
  font-size: 20px;
}

#chapter-bg #chapter-tools #edit-chapter {
  display: inline-block;
  transform: translate(0, -100px);
  transition: 300ms;
}

#chapter-bg #chapter-tools #edit-chapter input {
  vertical-align: middle;
  display: inline-block;
  background-color: #111;
  color: #aaa;
  padding: 5px;
  margin: 5px;
  border: 0px solid #444;
  transition: 300ms;
  border-radius: 30px;
  caret-color: #aaa;
}

#chapter-bg #chapter-tools #edit-chapter input::selection {
  background-color: rgba(255, 150, 0, 0.5);
  color: #fff;
}

#chapter-bg #chapter-tools #edit-chapter input:hover {
  background-color: #000;
}

#chapter-bg #chapter-tools #edit-chapter #trash {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  transition: 300ms;
  cursor: pointer;
  background-image: url("../arts/bin.png");
  background-size: cover;
  background-position: center;
}

#chapter-bg #chapter-tools #edit-chapter #trash:hover {
  background-color: #933;
}

.toolbar {
  position: fixed;
  width: 100vw;
  top: 30px;
  background-color: #2a2a2a;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px #222;
  z-index: 9;
  user-select: none;
  perspective: 500px;
}

.toolbar #insert {
  display: none;
  vertical-align: middle;
}

.toolbar #insert #image {
  display: inline-block;
  width: 39px;
  height: 39px;
  margin: 5px;
  padding: 0 10px 0 10px;
  border: 1px solid #444;
  transition: 300ms;
  background-image: url("../arts/image.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toolbar #insert #image:hover {
  background-color: #555;
}

.toolbar #view {
  display: none;
  vertical-align: middle;
}

.toolbar #view #full-view {
  display: inline-block;
  width: 39px;
  height: 39px;
  margin: 5px;
  padding: 0 10px 0 10px;
  border: 1px solid #444;
  transition: 300ms;
  background-image: url("../arts/fullView.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toolbar #view #full-view:hover {
  background-color: #555;
}

.toolbar #view #chapter-view {
  display: inline-block;
  width: 39px;
  height: 39px;
  margin: 5px;
  border: 1px solid #444;
  transition: 300ms;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.toolbar #view #chapter-view:hover {
  background-color: #555;
}

.toolbar #tools {
  display: inline-block;
  vertical-align: middle;
}

.toolbar .justify {
  margin-left: 10px;
  border-left: 2px dashed #444;
  display: inline-block;
  vertical-align: middle;
}

.toolbar .justify #justify-left {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 5px 5px 5px 10px;
  border: 1px solid #444;
  transition: 300ms;
  background-image: url("../arts/alignLeft.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.toolbar .justify #justify-left:hover {
  background-color: #555;
}

.toolbar .justify #justify-center {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 5px;
  border: 1px solid #444;
  transition: 300ms;
  background-image: url("../arts/alignCenter.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.toolbar .justify #justify-center:hover {
  background-color: #555;
}

.toolbar .justify #justify-right {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 5px;
  border: 1px solid #444;
  transition: 300ms;
  background-image: url("../arts/alignRight.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.toolbar .justify #justify-right:hover {
  background-color: #555;
}

.toolbar .justify #justify-full {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 5px;
  border: 1px solid #444;
  transition: 300ms;
  background-image: url("../arts/alignJustify.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.toolbar .justify #justify-full:hover {
  background-color: #555;
}

.toolbar p#ctx-menu {
  display: inline-block;
  font-family: Lato;
  padding-right: 10px;
  color: #aaa;
  cursor: pointer;
  transition: 300ms;
  transform-origin: left;
  padding: 5px;
  border: 1px solid transparent;
}

.toolbar p#ctx-menu:hover {
  background-color: #444;
  border: 1px solid #444;
}

.toolbar div#logo {
  display: inline-block;
  background-image: url("../arts/logo2.png");
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-right: 2px dashed #444;
  margin-right: 5px;
}

.toolbar div#logo div {
  width: 100%;
  height: 100%;
  background-image: url("../arts/logo2Hard.png");
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: 300ms;
  cursor: pointer;
}

.toolbar div#logo div:hover {
  opacity: 1;
}

.toolbar span {
  margin: 10px;
  padding: 10px;
  border: 1px solid #444;
  cursor: pointer;
  transition: 300ms;
  vertical-align: middle;
}

.toolbar span:hover {
  background-color: #555;
}

.toolbar select {
  padding: 10px;
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #444;
  transition: 300ms;
  cursor: pointer;
}

.toolbar select:hover {
  background-color: #555;
}

.toolbar option[a] {
  font-family: Arial, sans-serif;
}

.toolbar option[b] {
  font-family: "Arial Black", sans-serif;
}

.toolbar option[c] {
  font-family: Courier, sans-serif;
}

.toolbar option[d] {
  font-family: "Comic Sans MS",sans-serif;
}

.toolbar option[e] {
  font-family: Impact, sans-serif;
}

.toolbar option[f] {
  font-family: "Lucida Sans Unicode", Lucida, sans-serif;
}

.toolbar option[g] {
  font-family: Tahoma, sans-serif;
}

.toolbar option[h] {
  font-family: "Times New Roman", sans-serif;
}

.toolbar option[i] {
  font-family: Georgia, sans-serif;
}

.toolbar option[j] {
  font-family: Helvetica, sans-serif;
}

.toolbar option[k] {
  font-family: Verdana, sans-serif;
}

.toolbar option[l] {
  font-family: Lato, sans-serif;
}

@font-face {
  font-family: Lato;
  src: url("../arts/lato.ttf");
}
